:root {
  --primary-color: rgb(43, 118, 118);
  --secondary-color: rgb(43, 118, 118);
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

/*---------------NAVBAR---------------*/
.nav {
  background-color: var(--primary-color);
  width: 100%;
}

.nav h2 {
  margin-top: 0px;
}