:root {
  --primary-color: #d92c2e;
  --primary-color-hover: #b41f21;
  --secondary-color: #f0572d;
  --secondary-color-hover: #cc431d;
  --third-color: #37c1f0;
  --third-color-hover: #1c95bd;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

/*---------------NAVBAR---------------*/
.nav {
  background-color: var(--primary-color);
  width: 100%;
}

.nav h2 {
  margin-top: 0px;
}

/*---------------LOGIN---------------*/
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.left {
  min-height: 100%;
  background: url(https://media.discordapp.net/attachments/894538357793767474/1111237949867180032/1200x1200.jpg?width=585&height=585) #387ecf83;
  background-size: cover;
  background-blend-mode: multiply;
  background-position: right;
  display: flex;
  justify-content: start;
  align-items: start;
}

.login .details_login {
  margin-left: 25%;
  text-align: center;
  line-height: 37px;
}

.login .copyright {
  position: absolute;
  bottom: 0;
  right: 15px;
}

.login .title_content {
  color: white;
  margin-left: 20px;
  margin-top: 20px;
  display: flex;
  row-gap: 10px;
}

.login .title_content .line {
  border: #37c1f0 2px solid;
  margin-left: 12px;
}

.login .login_box {
  width: 30%;
  height: 45%;
  background-color: white;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  row-gap: 25%;
  position: absolute;
  box-shadow: 0 0 50px #3f3f3f;
}

.login .login_box h3 {
  text-align: center;
  margin-top: 40px;
}

.login .login_box .login_btns {
  display: flex;
  row-gap: 30px;
  justify-content: space-evenly;
}

.login .login_box button {
  background-color: var(--secondary-color);
  border-radius: 6px;
  transition: all 0.4s ease-in-out;
}

.login .login_box button:hover {
  background-color: var(--secondary-color-hover);
}

/*---------------DASHBOARD---------------*/

.dashboard {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-image: url("https://media.discordapp.net/attachments/894538357793767474/1111237950131413043/1193x1200.jpg?width=581&height=585");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.dashboard .blur_container {
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard .sign_out {
  border-radius: 5px;
  background-color: var(--third-color);
  transition: all 0.4s ease-in-out;
}

.dashboard .sign_out:hover {
  background-color: var(--third-color-hover);
}

.dashboard .dashboard_content {
  width: 80%;
  background-color: #3f3f3f;
  color: white;
  padding: 40px;
  border-radius: 10px;
}

.dashboard .dashboard_games {
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  column-gap: 60px;
  row-gap: 60px;
}

.dashboard .dashboard_games .dashboard_game {
  width: 20%;
}

.dashboard .dashboard_games .dashboard_game a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  text-decoration: none;
  color: white;
  background-color: var(--primary-color);
  transition: all 0.4s ease-in-out;
}

.dashboard .dashboard_games .dashboard_game a:hover {
  background-color: var(--primary-color-hover);
}

.dashboard .dashboard_games .dashboard_game a h5 {
  text-align: center;
}

/*---------------MODAL---------------*/

.ReactModal__Overlay {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ReactModal__Content {
  position: unset !important;
  width: 30%;
  text-align: center;
  display: flex;
  flex-direction: column; 
  row-gap: 50px;
  border-radius: 10px !important;
  padding: 50px 0px !important;
}

.ReactModal__Content form {
  display: flex;
  flex-direction: column; 
  row-gap: 10px;
  justify-content: center;
  align-items: center;
}

.ReactModal__Content form div {
  display: flex;
  flex-direction: column; 
  row-gap: 10px;
  justify-content: center;
  align-items: center;
}

.ReactModal__Content form input {
  border-radius: 6px;
}

.ReactModal__Content button {
  background-color: var(--secondary-color);
  border-radius: 6px;
  transition: all 0.4s ease-in-out;
  margin-top: 20px;
}

.ReactModal__Content button:hover {
  background-color: var(--secondary-color-hover);
}

/*---------------GAME---------------*/

.game {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-image: url("https://media.discordapp.net/attachments/894538357793767474/1111237949867180032/1200x1200.jpg?width=662&height=662");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.game .btnBack {
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
  background-color: var(--third-color);
  transition: all 0.4s ease-in-out;
  border-radius: 10px;
}

.game .btnBack:hover {
  background-color: var(--third-color-hover);
}

.game .blur_container {
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.game .game_content {
  height: 847.391px;
  width: 847.391px;
  background-image: url("https://media.discordapp.net/attachments/894538357793767474/1111237950131413043/1193x1200.jpg?width=581&height=585");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 7px 9px;
}

.game .game_content .vak {
  background-color: #3f3f3f80;
  border: #1c95bd 2px solid;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-evenly;
  row-gap: 10px;
  column-gap: 20px;
}

.game .game_content .upper_row {
  height: 100px;
  width: 8%;
  padding: 15px 0px;
}

.game .game_content .upper_row_main, .game .game_content .lower_row_main {
  display: flex;
  flex-direction: row;
  column-gap: 4px;
  padding: 0px;
  height: 100px;
}

.upper_row_main, .left_row_main, .right_row_main, .lower_row_main, .center {
  border: orchid 2px solid;
}

.game .game_content .side_row {
  width: 100%;
  height: 10.5%;
  padding: 0px 15px;
}

.game .game_content .left_row_main, .game .game_content .right_row_main {
  width: 11.5%;
  height: 627px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.game .game_content .center {
  width: 638px;
  height: 627px;
}

.game .game_content .corner_vak {
  width: 11.5% !important;
  padding: 0px !important;
}

.blauw, .rood, .geel, .groen {
  width: 25%;
  height: 25%;
  border-radius: 300px;
}

.blauw {
  background-color: #1c95bd;
}

.rood {
  background-color: #bd1c1c;
}

.geel {
  background-color: #bdbd1c;
}

.groen {
  background-color: #1cbd1c;
}