:root {
  --primary-color: #d92c2e;
  --primary-color-hover: #b41f21;
  --secondary-color: #f0572d;
  --secondary-color-hover: #cc431d;
  --third-color: #37c1f0;
  --third-color-hover: #1c95bd;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

/*---------------NAVBAR---------------*/
.nav {
  background-color: var(--primary-color);
  width: 100%;
}

.nav h2 {
  margin-top: 0px;
}

/*---------------LOGIN---------------*/
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.left {
  min-height: 100%;
  background: url(https://media.discordapp.net/attachments/894538357793767474/1111237949867180032/1200x1200.jpg?width=585&height=585) #387ecf83;
  background-size: cover;
  background-blend-mode: multiply;
  background-position: right;
  display: flex;
  justify-content: start;
  align-items: start;
}

.login .details_login {
  margin-left: 25%;
  text-align: center;
  line-height: 37px;
}

.login .copyright {
  position: absolute;
  bottom: 0;
  right: 15px;
}

.login .title_content {
  color: white;
  margin-left: 20px;
  margin-top: 20px;
  display: flex;
  row-gap: 10px;
}

.login .title_content .line {
  border: #37c1f0 2px solid;
  margin-left: 12px;
}

.login .login_box {
  width: 30%;
  height: 45%;
  background-color: white;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  row-gap: 25%;
  position: absolute;
  box-shadow: 0 0 50px #3f3f3f;
}

.login .login_box h3 {
  text-align: center;
  margin-top: 40px;
}

.login .login_box .login_btns {
  display: flex;
  row-gap: 30px;
  justify-content: space-evenly;
}

.login .login_box button {
  background-color: var(--secondary-color);
  border-radius: 6px;
  transition: all 0.4s ease-in-out;
}

.login .login_box button:hover {
  background-color: var(--secondary-color-hover);
}

/*---------------DASHBOARD---------------*/

.dashboard {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-image: url("https://media.discordapp.net/attachments/894538357793767474/1111237950131413043/1193x1200.jpg?width=581&height=585");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.dashboard .blur_container {
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard .sign_out {
  border-radius: 5px;
  background-color: var(--third-color);
  transition: all 0.4s ease-in-out;
}

.dashboard .sign_out:hover {
  background-color: var(--third-color-hover);
}

.dashboard .dashboard_content {
  width: 80%;
  height: 80%;
  background-color: #3f3f3f;
  color: white;
  padding: 40px;
  border-radius: 10px;
}

.dashboard .dashboard_games {
  height: 100%;
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  column-gap: 60px;
  row-gap: 60px;
}

.dashboard .dashboard_games .dashboard_game {
  width: 30%;
  height: 40%;
}

.dashboard .dashboard_games .dashboard_game a {
  text-decoration: none;
  color: white;
  background-color: var(--primary-color);
  transition: all 0.4s ease-in-out;
}

.dashboard .dashboard_games .dashboard_game a:hover {
  background-color: var(--primary-color-hover);
}